# GATHER

In [2]:
import numpy as np
import pandas as pd
import zipfile
import dill

In [47]:
#uncomment to save or load environment

dill.dump_session('notebook_session.db') #save
#dill.load_session('notebook_session.db') #load

In [4]:
zf = zipfile.ZipFile('./data/pisa2012.zip')
pisa = pd.read_csv(zf.open('pisa2012.csv'), encoding = 'latin-1')

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

> For our data wrangling process, I aim to focus on how ***teacher helpfulness*** and ***sense of belonging*** affects a student's ***work ethic*** and ***attitudes***. Additionally, I'll correlate these differences by overall math ***score***, ***gender***, and ***country***.

I'm essentially exploring the idea of, "If a student isn't getting any help and feels like an outsider, then that'll lower their commitment for school and hurt their self-esteem, in turn lowering their academic performance." On the flip side, a student who ***is*** getting help and feels comfortable in the school environment would have greater optimism in committing to school, thus raising their academic performance.

At the same time, I want to see how parent background, country, and gender can drive these variables against/in favor of the student.

After looking through the dataset, I have isolated these variables.

### Student Information
- **CNT** - 3-character country code
- **ST04Q01** - Gender
- **PV1MATH** -	Plausible value 1 in mathematics


### Teacher Helpfulness/Involvement
    
- **Teacher Support**
    - **ST83Q01** -	Teacher Support - Lets Us Know We Have to Work Hard
    - **ST83Q02** -	Teacher Support - Provides Extra Help When Needed
    - **ST83Q03** -	Teacher Support - Helps Students with Learning
    - **ST83Q04** -	Teacher Support - Gives Opportunity to Express Opinions
    
- **Student-Teacher Relation**
    - **ST86Q01** -	Student-Teacher Relation - Get Along with Teachers
    - **ST86Q02** -	Student-Teacher Relation - Teachers Are Interested
    - **ST86Q03** -	Student-Teacher Relation - Teachers Listen to Students
    - **ST86Q04** -	Student-Teacher Relation - Teachers Help Students
    - **ST86Q05** -	Student-Teacher Relation - Teachers Treat Students Fair
    
### Sense of Belonging

- **Sense of Belonging**
    - **ST87Q01** - Sense of Belonging - Feel Like Outsider
    - **ST87Q02** -	Sense of Belonging - Make Friends Easily
    - **ST87Q03** -	Sense of Belonging - Belong at School
    - **ST87Q04** -	Sense of Belonging - Feel Awkward at School
    - **ST87Q05** -	Sense of Belonging - Liked by Other Students
    - **ST87Q06** -	Sense of Belonging - Feel Lonely at School
    - **ST87Q07** -	Sense of Belonging - Feel Happy at School
    - **ST87Q08** -	Sense of Belonging - Things Are Ideal at School
    - **ST87Q09** -	Sense of Belonging - Satisfied at School
    - **BELONG**  - Sense of Belonging to School


### Work Ethic

- **Math Work Ethic**
    - **ST46Q01** -	Math Work Ethic - Homework Completed in Time
    - **ST46Q02** -	Math Work Ethic - Work Hard on Homework
    - **ST46Q03** -	Math Work Ethic - Prepared for Exams
    - **ST46Q04** -	Math Work Ethic - Study Hard for Quizzes
    - **ST46Q05** -	Math Work Ethic - Study Until I Understand Everything
    - **ST46Q06** -	Math Work Ethic - Pay Attention in Classes
    - **ST46Q07** -	Math Work Ethic - Listen in Classes
    - **ST46Q08** -	Math Work Ethic - Avoid Distractions When Studying
    - **ST46Q09** -	Math Work Ethic - Keep Work Organized

- **Perseverance**
    - **ST93Q01** -	Perseverance - Give up easily
    - **ST93Q03** -	Perseverance - Put off difficult problems
    - **ST93Q04** -	Perseverance - Remain interested
    - **ST93Q06** -	Perseverance - Continue to perfection
    - **ST93Q07** -	Perseverance - Exceed expectations


### Attitudes

- **Attitudes toward School**
    - **ST88Q01** -	Attitude towards School - Does Little to Prepare Me for Life
    - **ST88Q02** -	Attitude towards School - Waste of Time
    - **ST88Q03** -	Attitude towards School - Gave Me Confidence
    - **ST88Q04** -	Attitude towards School- Useful for Job
    - **ST89Q02** -	Attitude toward School - Helps to Get a Job
    - **ST89Q03** -	Attitude toward School - Prepare for College
    - **ST89Q04** -	Attitude toward School - Enjoy Good Grades
    - **ST89Q05** -	Attitude toward School - Trying Hard is Important

- **Perceived Control**
    - **ST91Q01** -	Perceived Control - Can Succeed with Enough Effort
    - **ST91Q02** -	Perceived Control - My Choice Whether I Will Be Good
    - **ST91Q03** -	Perceived Control - Problems Prevent from Putting Effort into School
    - **ST91Q04** -	Perceived Control - Different Teachers Would Make Me Try Harder
    - **ST91Q05** -	Perceived Control - Could Perform Well if I Wanted
    - **ST91Q06** -	Perceived Control - Perform Poor Regardless    
    
### Additional Fields of Interest
- **ISCO-08** Occupation code - Mother
- **ISCO-08** Occupation code - Father

After isolating the above variables, we now have 12 variables to work with:

- country
- gender
- math score
- teacher support
- student-teacher relation
- sense of belonging
- math work ethic
- perseverance
- attitudes toward school
- perceived control
- mother occupation
- father occupation

In [46]:
pisa['EC04Q05A'].value_counts()

2.0    113138
1.0     56578
Name: EC04Q05A, dtype: int64

# ASSESS

In [5]:
pisa.head()

,Unnamed: 0,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
0,1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
1,2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
3,4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [18]:
#look at column descriptions
pisa_dict = pd.read_csv('./data/pisadict2012.csv', encoding = 'latin-1')
pisa_dict.shape

(635, 2)

In [20]:
#check for missing entries
pisa['OCOD1']

0                                Building architects
1         Tailors, dressmakers, furriers and hatters
2                                          Housewife
3                                          Housewife
4                                          Housewife
5                                            Missing
6                                          Housewife
7                                          Housewife
8                            Primary school teachers
9                       Sales and marketing managers
10                                         Housewife
11                                      Shop keepers
12                                           Missing
13                                   Kitchen helpers
14                                           Missing
15                                           Missing
16                     Stall and market salespersons
17                                           Missing
18                     Stall and market salespersons
19                      Sales and marketing managers
20                        Cashiers and ticket clerks
21                                           Missing
22        Tailors, dressmakers, furriers and hatters
23                                      Hairdressers
24                                           Missing
25        Tailors, dressmakers, furriers and hatters
26                                           Missing
27                                           Missing
28                             Nursing professionals
29        Tailors, dressmakers, furriers and hatters
                             ...
485460                                  Shop keepers
485461                                     Housewife
485462                                       Missing
485463           Debt-collectors and related workers
485464        Sewing, embroidery and related workers
485465                                     Housewife
485466                   Tree and shrub crop growers
485467                                  Shop keepers
485468        Sewing, embroidery and related workers
485469                                  Shop keepers
485470                                  Shop keepers
485471                                  Shop keepers
485472                                  Shop keepers
485473                                  Shop keepers
485474        Sewing, embroidery and related workers
485475                               Kitchen helpers
485476                                     Housewife
485477        Sewing, embroidery and related workers
485478                                  Shop keepers
485479                                  Shop keepers
485480                                     Housewife
485481                                  Shop keepers
485482                         Nursing professionals
485483                     Early childhood educators
485484                      Subsistence crop farmers
485485                                     Housewife
485486                                  Shop keepers
485487                                  Hairdressers
485488                 Subsistence livestock farmers
485489                                     Housewife
Name: OCOD1, Length: 485490, dtype: object

## Quality

### Missing Data
- 


## Tidiness